name: Deploy To EC2 with DOCKER

on:
  push:
    branches:
      - 59-feat-공손-변환-기능-onnx-mh

env:
  AWS_REGION: ap-northeast-2

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Github Repository 파일 불러오기
        uses: actions/checkout@v4

      - name: JDK 21버전 설치
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Gradle wrapper 실행 권한 부여
        run: chmod +x ./gradlew

      - name: 테스트 및 빌드하기
        run: ./gradlew clean build -x test

      - name: 빌드된 파일 이름 변경하기
        run: mv ./build/libs/*SNAPSHOT.jar ./talktitude.jar

      - name: AWS 자격 증명 구성
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Amazon ECR 로그인
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Docker 이미지 빌드 및 푸시
        run: |
          docker build -t talktitude:latest .
          docker tag talktitude:latest ${{ steps.login-ecr.outputs.registry }}/talktitude:latest
          docker push ${{ steps.login-ecr.outputs.registry }}/talktitude:latest

      - name: 압축하기
        run: tar -czvf $GITHUB_SHA.tar.gz appspec.yml scripts

      - name: 압축 파일 확인
        run: |
          echo "GITHUB_SHA: $GITHUB_SHA"
          ls -la *.tar.gz
          echo "압축 내용 확인:"
          tar -tzvf $GITHUB_SHA.tar.gz

      - name: S3에 프로젝트 폴더 업로드하기
        run: |
            aws s3 cp --region ap-northeast-2 \
              ./$GITHUB_SHA.tar.gz \
              s3://talktitude-deploy-bucket/$GITHUB_SHA.tar.gz

      - name: Code Deploy를 활용해 EC2에 프로젝트 코드 배포
        run: |
          aws deploy create-deployment \
          --application-name talktitude-docker-server \
          --deployment-config-name CodeDeployDefault.AllAtOnce \
          --deployment-group-name Production \
          --s3-location bucket=talktitude-deploy-bucket,bundleType=tgz,key=$GITHUB_SHA.tar.gz

      - name: 모든 환경변수를 Parameter Store에 저장
        run: |
          aws ssm put-parameter --name "/talktitude/db-url" --value "${{ secrets.RDS_URL }}" --type "SecureString" --overwrite
          aws ssm put-parameter --name "/talktitude/db-username" --value "${{ secrets.RDS_USERNAME }}" --type "SecureString" --overwrite
          aws ssm put-parameter --name "/talktitude/db-password" --value "${{ secrets.RDS_PASSWORD }}" --type "SecureString" --overwrite
          aws ssm put-parameter --name "/talktitude/openai-api-key" --value "${{ secrets.OPENAI_API_KEY }}" --type "SecureString" --overwrite
          aws ssm put-parameter --name "/talktitude/jwt-secret" --value "${{ secrets.JWT_SECRET_KEY }}" --type "SecureString" --overwrite
          aws ssm put-parameter --name "/talktitude/aws-access-key" --value "${{ secrets.AWS_ACCESS_KEY_ID }}" --type "SecureString" --overwrite
          aws ssm put-parameter --name "/talktitude/aws-secret-key" --value "${{ secrets.AWS_SECRET_ACCESS_KEY }}" --type "SecureString" --overwrite
          aws ssm put-parameter --name "/talktitude/aws-region" --value "${{ secrets.AWS_REGION }}" --type "String" --overwrite
          aws ssm put-parameter --name "/talktitude/aws-bucket" --value "${{ secrets.AWS_BUCKET }}" --type "String" --overwrite
          aws ssm put-parameter --name "/talktitude/aws-bucket-onnx" --value "${{ secrets.AWS_BUCKET_ONNX }}" --type "String" --overwrite
          aws ssm put-parameter --name "/talktitude/ecr-registry" --value "${{ steps.login-ecr.outputs.registry }}" --type "String" --overwrite
