name: Deploy To EC2
on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Github Repository 파일 불러오기
        uses: actions/checkout@v4
      - name: JDK 21버전 설치
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Gradle wrapper 실행 권한 부여
        run: chmod +x ./gradlew
      - name: 테스트 및 빌드하기
        run: ./gradlew clean build -x test
      - name: 빌드된 파일 이름 변경하기
        run: mv ./build/libs/*SNAPSHOT.jar ./talktitude.jar
      - name: SCP로 EC2에 빌드된 파일 전송하기
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          source: talktitude.jar
          target: /home/ubuntu/talktitude/tobe
      - name: SSH로 EC2에 접속하기
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script_stop: true
          script: |
            # 디렉토리 구조 정리
            rm -rf /home/ubuntu/talktitude/current
            mkdir -p /home/ubuntu/talktitude/current
            mv /home/ubuntu/talktitude/tobe/talktitude.jar /home/ubuntu/talktitude/current/talktitude.jar
            cd /home/ubuntu/talktitude/current

            # 기존 프로세스 종료
            sudo fuser -k -n tcp 8080 || true

            # Spring Boot 애플리케이션 실행
            nohup java -jar talktitude.jar \
              --server.port=8080 \
              --spring.datasource.url=${{secrets.RDS_URL}} \
              --spring.datasource.username=${{secrets.RDS_USERNAME}} \
              --spring.datasource.password=${{secrets.RDS_PASSWORD}} \
              --spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver \
              --spring.jpa.hibernate.ddl-auto=update \
              --spring.jpa.show-sql=true \
              --spring.ai.openai.api-key=${{ secrets.OPENAI_API_KEY }} \
              --spring.ai.openai.base-url=${{secrets.OPENAI_BASE_URL}} \
              --ai.openai.api-key='${{ secrets.OPENAI_API_KEY }}' \
              --ai.openai.base-url=${{secrets.OPENAI_BASE_URL}} \
              --jwt.issuer=talktitude \
              --jwt.secret_key=${{ secrets.JWT_SECRET_KEY }} \
              --AWS_ACCESS_KEY_ID='${{ secrets.AWS_ACCESS_KEY_ID }}' \
              --AWS_SECRET_ACCESS_KEY='${{ secrets.AWS_SECRET_ACCESS_KEY }}' \
              --AWS_REGION='${{ secrets.AWS_REGION }}' \
              --AWS_BUCKET='${{ secrets.AWS_BUCKET }}' \
              > ./output.log 2>&1 &

            # 파일 정리
            rm -rf /home/ubuntu/talktitude/tobe